body {
    background-color: #6c7983;
    color: #adadad;
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    animation: backgroundthing 5s infinite;
}

#title {
    text-align: center;
    color:#dbd8d8;
    transition: color 1000ms linear;
}

.section {
    background-color: #23272a;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-radius: 10px;
    margin: 5% 5%;
    box-shadow: -1px 3px 5px 0px rgba(32, 32, 32, 0.75);;
    transition: color 1000ms linear;
}
.section:hover {
   color:#be72ab;
   transition: color 1000ms linear;
}


a {
    color:#adadad;
    text-decoration: none;
}


footer {
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 18px;
}
::-webkit-scrollbar {
 width: 7px;
 height: 7px;
}
::-webkit-scrollbar-thumb {
 background: #23272a;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
 background: #2c3a44;
}
::-webkit-scrollbar-track{
 background: transparent;
}

@keyframes backgroundthing {
  0% {background-color: #6c7983;}
  50% {background-color: #5a768d;}
  100% {background-color: #6c7983;}
}
